.intro_container {
  display: flex;
  align-items: center;
  width: fit-content;
}

.header {
  font-size: 48px;
  font-weight: 300;
  padding: 0px;
  margin: 10px 0;
  color: rgba(255,255,255,0.75);
}

.tagline {
  font-size: 42px;
  font-weight: 300;
  font-family: "Quicksand";
  margin: 0;
  color: rgba(255,255,255,0.75)
}

.name {
  color: #00c1e8;
  font-weight: 400;
}

/* Half width monitor*/
@media screen and (max-width: 1600px) {
  .intro_background {
    background-color: #131112;
    padding: 10px 10vw 10px 10vw;
  }
}

/* Mobile View */
@media screen and (max-width: 400px) {
  .intro_container {
    display: flex;
    margin: 50px;
    margin-top: 100px;
  }

  .header {
    font-size: 36px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    border-bottom: 3px solid #00c1e8;
    padding-bottom: 8px;
  }

  .tagline {
    margin: 20px 0px 20px 0px;
    padding: 0px;
    font-size: 26px;
  }
}
