.section1 {
  background-color: #131112;
  width: 100%;
  height: 1000px;
}

.section2 {
  background-color: #DB4C40;
  width: 100%;
  height: 500px;
}

.section3 {
  background-color: #131112;
  width: 100%;
  height: 1000px;
}